body {
  background: #fdf3f3;
}

.App {
  max-width: 800px;
  margin: 50px auto;
  background: white;
  border-radius: 10px;
  border: 1px solid #f8e7e7;
}
.App .heading {
  padding: 20px 10px 10px;
  text-align: center;
}
.App .icon {
  font-size: 36px;
}
.App footer {
  font-size: 11px;
  margin: 10px 0;
}

.weather form {
  padding: 10px;
  border-bottom: 2px solid #fdf3f3;
  padding-bottom: 20px;
}

.weather input[type="search"] {
  border: none;
  width: 100%;
  border-radius: 20px;
  padding-left: 30px;
  background: #fdf3f3;
  height: 36px;
}

.weather input[type="submit"] {
  /* border: 1px solid brown; */
  width: 100%;
  border-radius: 10px;
  height: 36px;
  background-color: #a070a1;
  color: white;
  font-size: 18px;
}
.weather button {
  /* border: 1px solid yellowgreen; */
  width: 100%;
  border-radius: 10px;
  height: 36px;
  background-color: #724060;
  color: white;
  font-size: 18px;
}
